<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <strong th:text="${userObject.isLogin() ? 'Witaj zalogowany userze' : 'Witaj niezalogowany userze'}"></strong>
    <strong th:if="${userObject.isLogin()}"
            th:text="'Twoj username to: ' + ${userObject.getUserEntity().getUsername()}"></strong>

    <div style="text-align: center;">
        <div th:each="oneElement : ${posts}">
            <h2 th:text="${oneElement.getTitle()}"></h2>
            <strong th:text="${oneElement.getUser().getEmail()}"></strong>
         <hr/>
        </div>
    </div>
</body>
</html>